# Bắt buộc sử dụng npm và cài đúng phiên bản
engine-strict=true
save-exact=true
package-lock=true
fund=false
audit=false
legacy-peer-deps=true

# Cấu hình cache
prefer-online=true

# Không tự động update dependencies
save-prefix=""
